<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI高级-硬件04-计步器.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E24EDB3D1CF93E8F00E87C48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E24EDB591CF93E8F00E87C48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E24EDB641CF93E8F00E87C48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
